<div class="flex items-center justify-center w-full h-full">
	<form
    method="post"
		class="flex flex-col max-w-lg gap-2 p-10 text-xl bg-white border rounded-lg shadow-lg border-black/50 min-w-96 min-h-96 h-max"
	>
		<div >
			<label
				for="password"
				class="block text-sm font-medium leading-6 text-gray-900"
				>Password:</label
			>
			<input
				type="password"
				name="password"
				id="password"
				<% if (typeof password === "undefined") { %>
                    value=""

                    <% } else { %>
                    value="<%= password %>"
                <% } %>
                minlength="6"
				placeholder="New password..."
				class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
				required
			/>
		</div>
		<div >
			<label
				for="confirmPassword"
				class="block text-sm font-medium leading-6 text-gray-900"
				>Confirm password:</label
			>
			<input
				type="password"
				name="confirmPassword"
				id="confirmPassword"
				placeholder="Confirm password..."
                minlength="6"
                <% if (typeof confirmPassword === "undefined") { %>

                    value=""
                    <% } else { %>
                    value="<%= confirmPassword %>"
                <% } %>
				class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
				required
			/>
            <input type="hidden" value="<%= user.id %>" name="id"/>
		</div>
        <% if(success_msg !='' ){ %>
            <span class="text-sm font-medium text-green-600">
                <%= success_msg %>
            </span>
        <% } %>
            
        <% if (typeof errors !='undefined' ) { %>
            <% errors.forEach(function (error){ %>
                <div class="text-sm font-medium text-red-600">
                    <%= error.msg %>
                </div>
            <% }); %>
        <% } %>
		<ul class="flex gap-2">
			<a
				href="/users/profile"
				class="self-end p-2 px-4 text-center transition-colors duration-300 bg-red-600 rounded-lg text-neutral-50 hover:bg-red-800"
			>
				Return
			</a>
			<button
				type="submit"
				class="self-end p-2 px-4 text-center transition-colors duration-300 bg-green-600 rounded-lg text-neutral-50 hover:bg-green-800"
			>
				Confirm change
			</button>
		</ul>
	</form>
</div>
